{% extends 'base.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between">
		<a href="{{ path('app_category_index') }}">
			<button type="button"
			        class="btn">
				<h1>
					<i class="bi bi-arrow-left"></i>
				</h1>
			</button>
		</a>
		<h1 class="text-center">Modifier une catégorie</h1>
		
		<span style="visibility: hidden;"></span>
	</div>
	
	{{ include('category/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
